body{
    background-color: #505050;
    color: #ffffff;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}
h2{
    text-align: center;
    margin: 0;
}
h1{
    text-align: center;
    margin: 10px 0;
}
.header{
    width: 980px;
    background-color: #404040;
    padding: 10px;
    border-bottom: 1px solid #202020;
}
.menu{
    width: 1000px;
    background-color: #404040;
    margin: 0 0 10px 0;
    list-style-type: none;
    padding: 0;
    font-size: 0;
}
.menu > li{
    list-style-type: none;
    display: inline-block;
    width: 114px;
    padding: 5px;
    font-size: 15px;
    border-right: 1px dashed #202020;
    text-align: center;
}
.menu > li:last-child{
    border-right: none;
}
.menu > li:hover{
    background-color: #303030;
}
.menuPart:last-child{
    border-right: none;
}
.tableHeader{
    width: 980px;
    background-color: #404040;
    padding: 10px;
    margin-bottom: 5px;
}
.columnNames{
    width: 980px;
    background-color: #404040;
    padding: 10px;
    border-bottom: 1px dashed #202020;
}
.countryTagCol{
    width: 40px;
    background-color: #303030;
    padding: 10px;
    float: left;
    margin-left: 5px;
}
.countryNameCol{
    width: 800px;
    background-color: #303030;
    padding: 10px;
    float: left;
    margin-left: 5px;
}
.countryRegionCol{
    width: 60px;
    background-color: #303030;
    padding: 10px;
    float: left;
    margin-left: 5px;
}
.result{
    width: 980px;
    background-color: #404040;
    padding: 10px;
    position: relative;
}
.countryTag{
    width: 40px;
    background-color: #303030;
    padding: 10px;
    float: left;
    margin-left: 5px;
}
.countryName{
    width: 800px;
    background-color: #303030;
    padding: 10px;
    float: left;
    margin-left: 5px;
}
.countryRegion{
    width: 60px;
    background-color: #303030;
    padding: 10px;
    float: left;
    margin-left: 5px;
}
.countryDelete{
    width: 70px;
    height: 38px;
    float: left;
    position: absolute;
    right: -50px;
}
.deleteButton{
    height: 36px;
    background-color: #303030;
    padding: 10px;
    position: absolute;
    right: -10px;
    top: 1px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    visibility: hidden;
}
.deleteButton:hover{
    background-color: #b52626;
    font-weight: bold;
}
.result:hover .deleteButton{
    visibility: visible;
}
.countryDelete:hover .deleteButton{
    visibility: visible;
}

