<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/employees/employeeEdit.css"/>
</head>
<body>
<div class="container">
    <div class="header"><h1>PROJEKT ZIIBD</h1></div>
    <div class="tableHeader"><h2>Edytuj Pracownika</h2></div>
    <div class="edit">
        <form th:action="@{/editEmployee}" th:object="${retrievedemployee}" method="post">
            <input placeholder="Id" class="employeeId" type="number" th:field="*{id}" readonly/>
            <input placeholder="Imię" class="employeeFirstName" type="text" th:field="*{firstName}"/>
            <input placeholder="Nazwisko" class="employeeLastName" type="text" th:field="*{lastName}"/>
            <input placeholder="Email" class="employeeEmail" type="text" th:field="*{email}"/>
            <input placeholder="Telefon" class="employeePhone" type="text" th:field="*{phone}"/>
            <input placeholder="Data" class="employeeDate" type="date" th:field="*{date}"/>
            <input placeholder="Praca" class="employeeJob" type="text" th:field="*{job}"/>
            <input placeholder="Płaca" class="employeeSalary" type="number" th:field="*{salary}"/>
            <input placeholder="Procent" class="employeeComm" type="number" th:field="*{comm}"/>
            <input placeholder="Manager" class="employeeMgr" type="number" th:field="*{mgr}"/>
            <input placeholder="Departament" class="employeeDept" type="number" th:field="*{dept}"/>
            <div style="clear: both;"></div>
            <input class="input" type="submit" value="Zatwierdź"/>
            <input class="input" type="reset" value="Resetuj"/>
            <a th:href="@{/employees}" class="comebackButton">Powrót</a>
        </form>
    </div>
</div>
</body>
</html>